@import '../node_modules/normalize.css/normalize.css';
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: 'MTN';
  src: url('source/MTN_Font/MTNBrighterSans-Regular.woff');
}
/* react-phone-input-2 library bug fix */
.react-tel-input .special-label {
  display: none;
}
/* 
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
